#middle{ width:1300px; border:2px solid #ccc; margin:50px auto 0; margin-bottom:100px; position:relative; padding-bottom:200px;}
.top{ width:100%; height:90px; overflow:hidden; border-bottom:4px solid #ccc;}
.top .left{ text-align:center; width:100px; float:left; margin:20px;}
.top .left span{ display:inline-block; transform:rotate(90deg); color:#ccc; }
.top .right{ float:left; margin-top:52px; margin-left:40px;}
.top .right p{ float:left; color:#333; text-align:center;}
.top .right p span{ float:left; width:120px; height:36px; line-height:36px; border:1px solid #333; border-left:none;}
.top .right p span:nth-of-type(1){ border-left:1px solid #000;}
.content{ overflow:hidden;}
.content .left{ margin-left:10px; float:left; margin-top:10px;}
.content .left li{ width:120px; text-align:center; font-size:14px; margin-bottom:20px;}
.clear{
	clear:both;
}
.content form{
	width:1000px;
	margin-left:50px;
	margin-top:10px;
	padding-top: 40px;
	padding-bottom:20px;
	float:left;
	box-shadow: 0 0 10px #000;
	font-size: 14px;
	margin-bottom: 10px;
}
.content form label{
	margin-left:150px;
	display:inline-block;
	width:100px;
	text-align:right;
	margin-right: 10px;
}
.content form label:nth-of-type(3){
	float:left;
}
.content form input[type=text]{
	width:300px;
	height:30px;
}
.content form select{
	height:34px;
	font-size:14px;
	color:#757575;
	float:left;
}
.content form input[type=text]:nth-of-type(3){
	float:left;
	width:213px;
	margin-left:7px;
}
.content form textarea{
	width:400px;
	height:150px;
	margin-left: 262px;
	resize:none;
}
.content form input[type=checkbox]{
	margin-left:262px;
}
.content form button{
	margin-left:320px;
	width:60px;
	height:28px;
}
.img1{ padding:0 60px 60px; background:#fff; position:absolute; left:50%; margin-left:-218px; bottom:-50px;}
.img2{ position:absolute; position:absolute; left:50%; margin-left:-150px; bottom:-90px;}